<form [formGroup]="mainFormGroup">
  <div>
      Name: <input type="text" formControlName="name" />
    <div *ngIf="mainFormGroup.get('name').hasError('required') && mainFormGroup.get('name').touched">
      Oops, please provide a name!
    </div>
    <div *ngIf="(mainFormGroup.get('name').hasError('minlength') && !mainFormGroup.get('name').hasError('required')) && mainFormGroup.get('surname').touched">
      Short name
    </div>
  </div>

  <div>
    Surname: 
    <input type="text" formControlName="surname" />
    <div *ngIf="mainFormGroup.get('surname').hasError('required') && mainFormGroup.get('surname').touched">
      Oops, please provide a surname!
    </div>
    <div *ngIf="(mainFormGroup.get('surname').hasError('minlength') && !mainFormGroup.get('surname').hasError('required')) && mainFormGroup.get('surname').touched">
      Short name
    </div>
  </div>

  <div>
    Email: 
    <input type="text" formControlName="email" />
    <div *ngIf="(mainFormGroup.get('email').hasError('email') || mainFormGroup.get('email').hasError('required')) && mainFormGroup.get('email').touched">
      Invalid Email!
    </div>
  </div>

  <div>
    Organisation: 
    <input type="text" formControlName="organisation" />
    <div *ngIf="mainFormGroup.get('organisation').hasError('required') && mainFormGroup.get('organisation').touched">
      Provide Organisation!
    </div>
  </div>

  <div>
    Address: 
    <input type="text" formControlName="address" />
    <div *ngIf="mainFormGroup.get('address').hasError('required') && mainFormGroup.get('address').touched">
      Provide Address!
    </div>
  </div>

  <div>
    Company registration number: 
    <input type="text" formControlName="crn" />
  </div>

  <div>
    VAT Identification Number: 
    <input type="text" formControlName="vat" />
  </div>

  <div>
    Registration Variants: 
    <span>
      <input type="radio" value="1" formControlName="regVariant" /> Variant 1
    </span>
    <span>
      <input type="radio" value="2" formControlName="regVariant" /> Variant 2
    </span>
    <div *ngIf="mainFormGroup.get('regVariant').hasError('required') && mainFormGroup.get('regVariant').touched">
      Provide Registration Variant!
    </div>
  </div>

  <div>
    Payment Method: 
    <span>
      <input type="radio" value="payment1" formControlName="payment" /> Variant 1
    </span>
    <span>
      <input type="radio" value="payment2" formControlName="payment" /> Variant 2
    </span>
    <div *ngIf="mainFormGroup.get('payment').hasError('required') && mainFormGroup.get('payment').touched">
      Provide Payment Method!
    </div>
  </div>

  <div>
    Time of Arrival: 
    <select formControlName="toa">
      <option>1</option>
      <option>2</option>
    </select>
    <div *ngIf="mainFormGroup.get('toa').hasError('required') && mainFormGroup.get('toa').touched">
      Provide Time of Arrival!
    </div>
  </div>

  <div>
    Time of Departure: 
    <select formControlName="tod">
      <option>1</option>
      <option>2</option>
    </select>
    <div *ngIf="mainFormGroup.get('tod').hasError('required') && mainFormGroup.get('tod').touched">
      Provide Time of Departure!
    </div>
  </div>

  <div formArrayName="companion">
    Companion: 
    <div *ngFor="let c of companion.controls; let i = index">
      <div class="form_group" [formGroupName]="i">
        name: <input formControlName="name">
        <div *ngIf="c.get('name').hasError('required') && c.get('name').touched">This Field is required!</div>
        from: <input formControlName="from">
        <div *ngIf="c.get('from').hasError('required') && c.get('from').touched">This Field is required!</div>
        to: <input formControlName="to">
        <div *ngIf="c.get('to').hasError('required') && c.get('to').touched">This Field is required!</div>
        <button (click)="removeCompanion(i)">Delete</button>
      </div>
    </div>

    <button (click)="addCompanion()">Add Companion</button>
  </div>

  <div>
    T-Shirt Size: 
    <span>
      <input type="radio" value="s" formControlName="tshirt" /> S
    </span>
    <span>
      <input type="radio" value="m" formControlName="tshirt" /> M
    </span>
    <div *ngIf="mainFormGroup.get('tshirt').hasError('required') && mainFormGroup.get('tshirt').touched">
      Provide T-Shirt Size!
    </div>
  </div>
  <div>
    Single Bedroom
    <input type="checkbox" formControlName="singleBedroom">
  </div>
  <div>
    Special Food requests:
    <input formControlName="foodRequests">
  </div>  
  <div>
    Notes:
    <input formControlName="notes">
  </div>
</form>