<form class="frm" [formGroup]="mainFormGroup" *ngIf="config" (ngSubmit)="onSubmit()">

  <div class="midsection">

<div class="form-group">
        <label class="maintitle">Registration for ITAT 2020</label>
        <!-- change to current dates -->
        <p id="message">
          (20. 9. 2020 - 24. 9. 2020).
        </p>
    </div>

<!-- place for hotel info, if there is one -->

  <div class="section-heading">
      Registration details
    <p id="redtext">
        * Required
    </p>
  </div>

  <div class="form-group">
      <div class="form-control">
        <label class="font-heading">
          Name: <span id="star">*</span>
          </label>
          <input type="text" formControlName="name" />
      </div>

    <div *ngIf="mainFormGroup.get('name').hasError('required') && mainFormGroup.get('name').touched">
      Name is a required field!
    </div>
    <div *ngIf="(mainFormGroup.get('name').hasError('minlength') && !mainFormGroup.get('name').hasError('required')) && mainFormGroup.get('surname').touched">
      Short name
    </div>
  </div>

  <div class="form-group">
    <div class="form-control">
    <label class="font-heading">
    Surname: <span id="star">*</span>
     </label>
    <input type="text" formControlName="surname" />
    </div>

    <div *ngIf="mainFormGroup.get('surname').hasError('required') && mainFormGroup.get('surname').touched">
      Surname is a required field!
    </div>
    <div *ngIf="(mainFormGroup.get('surname').hasError('minlength') && !mainFormGroup.get('surname').hasError('required')) && mainFormGroup.get('surname').touched">
      Short name
    </div>
  </div>

  <div class="form-group">
    <div class="form-control">
    <label class="font-heading">
    Email: <span id="star">*</span>
    </label>
    <input type="text" formControlName="email" />
    </div>

    <div *ngIf="(mainFormGroup.get('email').hasError('email') || mainFormGroup.get('email').hasError('required')) && mainFormGroup.get('email').touched">
      Invalid Email!
    </div>
  </div>

  <div class="form-group">
    <div class="form-control">
    <label class="font-heading">
    Organisation: <span id="star">*</span>
    </label>
    <input type="text" formControlName="organisation" />
    </div>

    <div *ngIf="mainFormGroup.get('organisation').hasError('required') && mainFormGroup.get('organisation').touched">
      Organisation is a required field!
    </div>
  </div>

  <div class="form-group">
    <div class="form-control">
    <label class="font-heading">
    Address: <span id="star">*</span>
    </label>
    <input type="text" formControlName="address" />
    </div>


    <div *ngIf="mainFormGroup.get('address').hasError('required') && mainFormGroup.get('address').touched">
      Address is a required field!
    </div>
  </div>

  <div class="form-group">
    <div class="form-control">
    <label class="font-heading">
    Company registration number:
    </label>
    <input type="text" formControlName="crn" />
    </div>
  </div>

  <div class="form-group">
    <div class="form-control">
    <label class="font-heading">
    VAT Identification Number:
    </label>
    <input type="text" formControlName="vat" />
    </div>
  </div>

  <div class="form-group radio-group flex-col">
    <label class="font-heading">
    Registration Variants: <span id="star">*</span>
    </label>
    <span>
      <p id="extra">
          We offer two registration variants: A = full conference,
          B = 2 nights. Student registration is available for both variants. (From 2nd August 2019)
      </p>
      <p id="note">
          &rarr; Note: Workshop registrations are available only during the worshops days. The program of workshop CIDM is scheduled 4 days.
      </p>
    </span>
    <span *ngFor="let item of config.registration_variants" >
      <input type="radio" [value]="item.text" formControlName="regVariant" /> {{item.text}}
    </span>


    <div *ngIf="mainFormGroup.get('regVariant').hasError('required') && mainFormGroup.get('regVariant').touched">
      Registration Variant is a required field!
    </div>
  </div>

  <div class="form-group flex-col">
    <label class="font-heading">
    Payment Method: <span id="star">*</span>
    </label>
    <span *ngFor="let item of config.payment_methods" >
      <input type="radio" [value]="item.text" formControlName="payment" /> {{item.text}}
    </span>
    <div *ngIf="mainFormGroup.get('payment').hasError('required') && mainFormGroup.get('payment').touched">
      Payment Method is a required field!
    </div>
  </div>

<!-- Change parameters to current values -->

  <div class="form-group">
    <label class="font-heading">
    Time of Arrival: <span id="star">*</span>
  </label>
  <p id="note">
      &rarr; Note: Food related question. Workshops start with dinner and end with breakfast.
      If you choose an earlier arrival or a later departure, the additional food will be priced.
  </p>
    <select formControlName="toa">
      <option *ngFor="let item of config.time_arrival" >{{item.text}}</option>
    </select>
    <div *ngIf="mainFormGroup.get('toa').hasError('required') && mainFormGroup.get('toa').touched">
      Time of Arrival is a required field!
    </div>
  </div>

<!-- Change parameters to current values -->

  <div class="form-group">
    <label class="font-heading">
    Time of Departure: <span id="star">*</span>
    </label>
    <p id="note">
        &rarr; Note: Food related question.
    </p>
    <select formControlName="tod">
      <option *ngFor="let item of config.time_departure" >{{item.text}}</option>
    </select>
    <div *ngIf="mainFormGroup.get('tod').hasError('required') && mainFormGroup.get('tod').touched">
      Time of Departure is a required field!
    </div>
  </div>

  <div class="form-group flex-col">
      <label class="font-heading">
      T-Shirt Size: <span id="star">*</span>
    </label>
      <span *ngFor="let item of config.tshirt_size" >
        <input type="radio" (value)="item.text" formControlName="tshirt" />  {{item.text}}
      </span>

      <div *ngIf="mainFormGroup.get('tshirt').hasError('required') && mainFormGroup.get('tshirt').touched">
        T-Shirt Size is a required field!
      </div>
    </div>

  <div class="section-heading">
      Extra payments
    <p id="note">
        &rarr; Note: The single-bed rooms are sold out now. In case of serious interest,
        we can reserve accommodation in a single room in the cottage Martinské hole.
    </p>
  </div>

  <div class="form-group">
      <label class="font-heading">
        Extra payments
        <p id="note">
            &rarr; Note: Single Bedroom
          </p>
      </label>
      <span *ngFor="let item of config.extra_payments" >
          <input type="checkbox" formControlName="singleBedroom">{{item.text}}
      </span>
    </div>

  <div formArrayName="companion">
      <label class="font-heading">
    Companion: <span id="star">*</span>
      </label>
    <div *ngFor="let c of companion.controls; let i = index">
      <div class="form_group" [formGroupName]="i">
        name: <input formControlName="name">
        <div *ngIf="c.get('name').hasError('required') && c.get('name').touched">This Field is required!</div>
        from: <input formControlName="from">
        <div *ngIf="c.get('from').hasError('required') && c.get('from').touched">This Field is required!</div>
        to: <input formControlName="to">
        <div *ngIf="c.get('to').hasError('required') && c.get('to').touched">This Field is required!</div>
        <button (click)="removeCompanion(i)">Delete</button>
      </div>
    </div>

    <button (click)="addCompanion()">Add Companion</button>
  </div>

  <div class="section-heading">
      Special requests
  </div>

  <div class="form-group flex-col">
      <label class="font-heading">
        Do you have special requests regarding the food?
      </label>
      <span *ngFor="let item of config.special_requests">
        <input type="radio" [value]="item.text" formControlName="foodRequests" /> {{item.text}}
      </span>
      <div *ngIf="mainFormGroup.get('foodRequests').hasError('required') && mainFormGroup.get('foodRequests').touched">
        Special Requests is a required field!
      </div>
    </div>

  <div class="form-group">
    <div class="form-control">
    <label class="font-heading">
    Room for your notes.
    </label>
    <input formControlName="notes">
    </div>
  </div>

  <div>
    <p id="note">
      &rarr; Note: You will recieve a confirmation email after submitting the registration form.
      This email contains some registration details.
      In case of any problems regarding this email, please contact us at  lubomir.antoni@upjs.sk
     </p>
    </div>

  <input id="subutton" type="submit" value="Submit">

  </div>

</form>
