<p>registration-form works!</p>
<!-- no it does not -->
<!-- is qiute shite -->
<form class="frm">
    <!-- example 
    <div class="form-group">
        <label for="firstName">First Name</label>
        <input required minlenght="3" maxlenght="20" ngModel name="firstName" #firstName="ngModel" 
        pattern="nigga" (change)="log(firstName)" 
        id="firstName" type="text" class="form-control">
        <div class="alert alert-danger" *ngIf="firstName.touched && !firstName.valid">First Name is required.</div>
        <div *ngIf="firstName.errors.required">First Name is required.</div>
        <div *ngIf="firstName.errors.minlenght">First name should be a nimimum {{ firstName.errors.minlenght.requiredLength }} characters.</div>
        <div *ngIf="firstName.errors.maxlenght">First name should be a maximum 20 characters.</div>
        <div *ngIf="firstName.errors.pattern">First name doesn't match the pattern.</div>
    </div>
    example -->

    <div class="form-group">
        <label for="name" class="font-heading">Name:</label>
        <input required type="text" minlenght="2" formControlName="name" class="form-control"
         [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
            <div *ngIf="f.name.errors.required">This is a required question</div>
            <div *ngIf="f.name.errors.minlenght">Name should have a nimimum {{ f.name.errors.minlenght.requiredLength }} characters.</div>
        </div>
    </div>

    <div class="form-group">
        <label for="surname" class="font-heading">Surname:</label>
        <input required type="text" minlenght="2" formControlName="surname" class="form-control"
         [ngClass]="{ 'is-invalid': submitted && f.surname.errors }" />
        <div *ngIf="submitted && f.surname.errors" class="invalid-feedback">
            <div *ngIf="f.surname.errors.required">This is a required question</div>
            <div *ngIf="f.surname.errors.minlenght">Surname should have a nimimum {{ f.surname.errors.minlenght.requiredLength }} characters.</div>
        </div>
    </div>

    <div class="form-group">
        <label for="mail" class="font-heading">Email:</label>
        <input required type="email" minlenght="2" formControlName="mail" class="form-control"
         [ngClass]="{ 'is-invalid': submitted && f.mail.errors }" />
        <div *ngIf="submitted && f.mail.errors" class="invalid-feedback">
            <div *ngIf="f.mail.errors.required">This is a required question</div>
            <div *ngIf="f.mail.errors.minlenght">Email should have a nimimum {{ f.mail.errors.minlenght.requiredLength }} characters.</div>
        </div>
    </div>

    <div class="form-group">
        <label for="address" class="font-heading">Address:</label>
        <input required type="text" minlenght="3" formControlName="address" class="form-control"
         [ngClass]="{ 'is-invalid': submitted && f.address.errors }" />
        <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
            <div *ngIf="f.address.errors.required">This is a required question</div>
            <div *ngIf="f.address.errors.minlenght">Adress should have a nimimum {{ f.address.errors.minlenght.requiredLength }} characters.</div>
        </div>
    </div>

    <div class="form-group">
        <label for="regNumber" class="font-heading">Company registration number:</label>
        <input required type="text" minlenght="8" formControlName="regNumber" class="form-control"
         [ngClass]="{ 'is-invalid': submitted && f.regNumber.errors }" />
        <div *ngIf="submitted && f.regNumber.errors" class="invalid-feedback">
            <div *ngIf="f.regNumber.errors.required">This is a required question</div>
            <div *ngIf="f.regNumber.errors.minlenght">Registration Number should have a nimimum {{ f.regNumber.errors.minlenght.requiredLength }} characters.</div>
        </div>
    </div>

    <div class="form-group">
        <label for="ideNumber" class="font-heading">VAT identification number:</label>
        <input required type="text" minlenght="3" formControlName="ideNumber" class="form-control"
         [ngClass]="{ 'is-invalid': submitted && f.ideNumber.errors }" />
        <div *ngIf="submitted && f.ideNumber.errors" class="invalid-feedback">
            <div *ngIf="f.ideNumber.errors.required">This is a required question</div>
            <div *ngIf="f.ideNumber.errors.minlenght">Identification Number should have a nimimum {{ f.ideNumber.errors.minlenght.requiredLength }} characters.</div>
        </div>
    </div>

<fieldset class="form-group">
    <p class="font-heading">We offer two registration variants: A = full conference, 
      B = 2 nights. Student registration is available for both variants. (From 2nd August 2019) *</p>
      <p>
          -> Note: Workshop registrations are available only during the worshops days. The program of workshop CIDM is scheduled 4 days.
      </p>
      <div class="row">
    <div class="col-sm-10">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
        <label class="form-check-label" for="gridRadios1">
          Full conference - Full registration: 360 €
           (fee + digital almanac + coffee breaks + accommodation + full board during the whole conference)
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
        <label class="form-check-label" for="gridRadios2">
          Full conference - Student registration: 305 €
           (fee + digital almanac + coffee breaks + accommodation + full board during the whole conference)
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3">
        <label class="form-check-label" for="gridRadios3">
          Full conference - Student registration
           - student presenting paper: 235 €
           (fee + digital almanac + coffee breaks + accommodation + full board during the whole conference)
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
        <label class="form-check-label" for="gridRadios2">
          Computational Intelligence and Data Mining (4 days)
             - Full registration: 360 €
             (fee + digital almanac + coffee breaks + accommodation + full board for 2 nights)
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
        <label class="form-check-label" for="gridRadios2">
          Computational Intelligence and Data Mining (4 days)
             - Student registation: 305 €
             (fee + digital almanac + coffee breaks + accommodation + full board for 2 nights)
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
        <label class="form-check-label" for="gridRadios2">
          Computational Intelligence and Data Mining (4 days)
             - Student registation - student presenting paper: 235 €
             (fee + digital almanac + coffee breaks + accommodation + full board for 2 nights)
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
        <label class="form-check-label" for="gridRadios2">
          CZ-SK NLP workshop
             - Full registration 250€ 
             (fee + digital almanac + coffee breaks + accommodation + full board for 2 nights)
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
        <label class="form-check-label" for="gridRadios2">
          CZ-SK NLP workshop - Student registration 200€ 
             (fee + digital almanac + coffee breaks + accommodation + full board for 2 nights)
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
        <label class="form-check-label" for="gridRadios2">
          CZ-SK NLP workshop - Student registration - student presenting paper 130€ 
             (fee + digital almanac + coffee breaks + accommodation + full board for 2 nights)
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
        <label class="form-check-label" for="gridRadios2">
          Intelligent speech and audio technologies workshop
             - Full registration: 250€ 
             (fee + digital almanac + coffee breaks + banket + accommodation + full board for 2 nights)
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
        <label class="form-check-label" for="gridRadios2">
          Intelligent speech and audio technologies workshop
             - Student registration 200€
              (fee + digital almanach + coffee breaks + banket + accommodation + full board for 2 nights)
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
        <label class="form-check-label" for="gridRadios2">
          Intelligent speech and audio technologies workshop - Student registration
             - student presenting paper 130€ 
             (fee + digital almanach + coffee breaks + banket + accommodation + full board for 2 nights)
        </label>
      </div>

    </div>
  </div>
</fieldset>

<fieldset class="form-group">
<legend class="font-heading">Payment method: *</legend>
    <div class="row">
  <div class="col-sm-10">
    <div class="form-check">
          <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
          <label class="form-check-label" for="gridRadios1">
            cash (upon registration)
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
          <label class="form-check-label" for="gridRadios2">
              Bank transfer (bank account: 2628717743/1100 
              (Tatra banka, a.s. Hodžovo namestie 3, 811 06 Bratislava), IBAN SK50 1100 0000 0026 2871 7743, SWIFT: TATR SK BX 
              (Slovenská spoločnosť pre umelú inteligenciu (SAIS), Letná 9, 040 00 Košice). 
              Please, after the bank transfer, send us the confirmation of payment to peter.gursky@upjs.sk.
          </label>
        </div>
      </div>
    </div>
  </fieldset>
      
    <!-- Change parameters to current values -->

      <div class="form-group">
            <div class="input-group">
              <label class="font-heading" for="inputGroupSelect01">Time of arrival *</label>
                <p> 
                    Food related question. Workshops start with dinner and end with breakfast. 
                    If you choose an earlier arrival or a later departure, the additional food will be priced.
                </p>
            </div>
            <select class="custom-select" id="inputGroupSelect01">
              <option selected>Choose...</option>
              <option value="1">20.9. (Friday) - start with dinner</option>
              <option value="2">21.9. (Saturday) - start with breakfast</option>
              <option value="3">21.9. (Saturday) - start with lunch</option>
              <option value="4">21.9. (Saturday) - start with dinner</option>
              <option value="5">22.9. (Sunday) - start with breakfast</option>
              <option value="6">22.9. (Sunday) - start with lunch</option>
              <option value="7">22.9. (Sunday) - start with dinner</option>
              <option value="8">23.9. (Monday) - start with breakfast</option>
              <option value="9">23.9. (Monday) - start with lunch</option>
              <option value="10">23.9. (Monday) - start with dinner</option>
            </select>
          </div>
          
      <!-- Change parameters to current values -->

      <div class="form-group">
            <div class="input-group-prepend">
              <label class="font-heading" for="inputGroupSelect01">Time of departure *</label>
                <p>
                    Food related question.
                </p>
            </div>
            <select class="custom-select" id="inputGroupSelect01">
              <option selected>Choose...</option>
              <option value="1">21.9. (Saturday) - end with breakfast</option>
              <option value="2">21.9. (Saturday) - end with lunch</option>
              <option value="3">21.9. (Saturday) - end with dinner</option>
              <option value="4">22.9. (Sunday) - end with breakfast</option>
              <option value="5">22.9. (Sunday) - end with lunch</option>
              <option value="6">22.9. (Sunday) - end with dinner</option>
              <option value="7">23.9. (Monday) - end with breakfast</option>
              <option value="8">23.9. (Monday) - end with lunch</option>
              <option value="9">23.9. (Monday) - end with dinner</option>
              <option value="10">24.9. (Tuesday) - end with breakfast</option>
            </select>
          </div>

<fieldset class="form-group">
    <legend class="font-heading">T-shirt size *</legend>
        <div class="row">
      <div class="col-sm-10">
        <div class="form-check">
              <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
              <label class="form-check-label" for="gridRadios1">
                C
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
              <label class="form-check-label" for="gridRadios2">
                  M
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
              <label class="form-check-label" for="gridRadios2">
                  L
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
              <label class="form-check-label" for="gridRadios2">
                  XL
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
              <label class="form-check-label" for="gridRadios2">
                  XXL
              </label>
            </div>
          </div>
        </div>
      </fieldset>
      <!--
          Extra payments
      -->
      <fieldset class="form-group">
          <legend class="font-heading">Extra payments</legend>
              <div class="row">
            <div class="col-sm-10">
              <div class="form-check">
                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
                    <label class="form-check-label" for="gridRadios1">
                        single bed rooms +70 eur, only for full registration
                    </label>
                  </div>
                </div>
              </div>
            </fieldset>

            <fieldset class="form-group">
                <legend class="font-heading">Accommodation for your companion? *</legend>
                <p>
                    Accommodation, coffee breaks and full board. If your companion are children, please write the age of children to mail: peter.gursky@upjs.sk in order to arrange other details.
                    </p>
                    <div class="row">
                  <div class="col-sm-10">
                    <div class="form-check">
                          <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
                          <label class="form-check-label" for="gridRadios1">
                              yes, for 1 night [+50€] (lunch, dinner and breakfast for the next day)
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                          <label class="form-check-label" for="gridRadios2">
                              yes, for 2 nights [+45€/night]
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                          <label class="form-check-label" for="gridRadios2">
                              yes, for 3 nights [+45€/night]
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                          <label class="form-check-label" for="gridRadios2">
                              yes, for 4 nights [+195€] (during the whole conference)
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                          <label class="form-check-label" for="gridRadios2">
                              no
                          </label>
                        </div>
                      </div>
                    </div>
                  </fieldset>

                  <fieldset class="form-group">
                      <legend class="font-heading">Banket for your companion? *</legend>
                      <p>
                          Entry for the banket (whole night - dinner and entertainment) - Sunday 22.9.2019
                          </p>
                          <div class="row">
                        <div class="col-sm-10">
                          <div class="form-check">
                                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
                                <label class="form-check-label" for="gridRadios1">
                                    yes [+15€]
                                </label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                                <label class="form-check-label" for="gridRadios2">
                                    no
                                </label>
                              </div>
                            </div>
                          </div>
                        </fieldset>

      <div class="form-group">
        <label for="shirt" class="font-heading">Would you like to buy another T-shirt ?</label>
        <p>
            Please enter the number of T-shirts [+5€ each]. If needed state the T-shirt sizes and counts. 
            Additional T-shirts are payed for at registration in cash.
        </p>
        <input required type="text" minlenght="2" formControlName="shirt" class="form-control"
         [ngClass]="{ 'is-invalid': submitted && f.shirt.errors }" />
        <div *ngIf="submitted && f.shirt.errors" class="invalid-feedback">
        </div>
      </div>

      <!--
          Special requests
      -->
<fieldset class="form-group">
    <legend class="font-heading">Do you have special requests regarding the food? *</legend>
        <div class="row">
      <div class="col-sm-10">
        <div class="form-check">
              <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
              <label class="form-check-label" for="gridRadios1">
                no
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
              <label class="form-check-label" for="gridRadios2">
                  vegetarian diet
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
              <label class="form-check-label" for="gridRadios2">
                  vegan diet
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
              <label class="form-check-label" for="gridRadios2">
                  gluten-free diet
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
              <label class="form-check-label" for="gridRadios2">
                  Other:
                  <input required type="text" minlenght="2" formControlName="shirt" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.shirt.errors }" />
            <div *ngIf="submitted && f.shirt.errors" class="invalid-feedback">
        </div>
              </label>
            </div>
          </div>
        </div>
      </fieldset>

      <div class="form-group">
            <label for="notes" class="font-heading">Room for your notes.</label>
            <input required type="text" minlenght="2" formControlName="notes" class="form-control"
             [ngClass]="{ 'is-invalid': submitted && f.notes.errors }" />
            <div *ngIf="submitted && f.notes.errors" class="invalid-feedback">
            </div>
          </div>
        
    <div>
        <p>
            You will recieve a confirmation email after submitting the registration form. 
            This email contains some registration details. 
            In case of any problems regarding this email, please contact us at  lubomir.antoni@upjs.sk
        </p>
        </div>
        
        <button>submit</button>
      </form>

    <!--<div class="form-group">
        <label for="comment">Comment</label>
        <textarea ngModel name="comment" id="comment" cols="30" rows="10" class="form-control"></textarea>
    </div>-->
    
    <button class="btn btn-primary">SEND</button>
